# === Python bytecode ===
__pycache__/
*.py[cod]
*$py.class
*.log

# === 입력 데이터 무시 ===
*.csv
*.xlsx

# === 폴더유지 ===
!data/output/**/.gitkeep
!data/input/**/.gitkeep
!logs/**/.gitkeep

# === output ===
data/output/